<br>
<div class="row justify-content-center">
  <ul class="list-group w-50">
    <li class="list-group-item active text-center">{{ person.empName }} Details</li>
    <li class="list-group-item">Emp ID:
      <span class="btn-dark">{{ person.empID }}</span>
    </li>
    <li class="list-group-item">Job Title:
      <span class="btn-dark">{{ person.jobTitle }}</span>
    </li>
    <li class="list-group-item">Emp Name:
      <span class="btn-dark">{{ person.empName }}</span>
    </li>
    <li class="list-group-item">Department:
      <span class="btn-dark">{{ person.department }}</span>
    </li>
    <li class="list-group-item">Phone:
      <span class="btn-dark">{{ person.phone }}</span>
    </li>
    <li class="list-group-item">Email:
      <span class="btn-dark">{{ person.email }}</span>
    </li>
  </ul>
</div>
