<br>
<div>
  <div class="justify-content-end">
    <ul class="list-group w-50 ">
      <li class="list-group-item active text-center  bg-dark">{{ person.empName }} Details</li>
      <li class="list-group-item bg-info ">Emp ID:
        <span class="text-white text-right text-justify">{{ person.empID }}</span>
      </li>
      <li class="list-group-item bg-info">Job Title:
        <span class=" text-white text-right text-justify ">{{ person.jobTitle }}</span>
      </li>
      <li class="list-group-item bg-info">Emp Name:
        <span class="text-white text-right text-justify">{{ person.empName }}</span>
      </li>
      <li class="list-group-item bg-info">Department:
        <span class="text-white text-right text-justify">{{ person.department }}</span>
      </li>
      <li class="list-group-item bg-info">Phone:
        <span class="text-white text-right text-justify">{{ person.phone }}</span>
      </li>
      <li class="list-group-item bg-info">Email:
        <span class="text-white text-right text-justify">{{ person.email }}</span>
      </li>
    </ul>
  </div>
  <br>
  <div class="d-inliness">
    <button class="btn btn-warning submit" (click)="edit(person)">Edit</button>
    <button class="btn btn-success submit" (click)="close()">Close</button>
  </div>
</div>
