<br>
<div class="justify-content-end">
  <form [formGroup]="empForm" (ngSubmit)="onSubmit(empForm)">
    <div>
      <label for="empID" class="form-group row col-md-6">Employee ID:&nbsp; &nbsp; </label>
      <input type="text" class="col-md-4  form-control" formControlName="empID" placeholder="Employee ID">
      <span class="text-danger" *ngIf="empForm.get('empID').hasError('required') && empForm.get('empID').touched">
        ID is Required
      </span>
      <span class="text-danger" *ngIf="empForm.get('empID').hasError('minlength')">
        Min of 2 characters
      </span>
    </div>
    <label for="jobTitle" class="form-group row col-md-6">Job Title: &nbsp;&nbsp; </label>
    <input type="text" class="col-md-4  form-control" formControlName="jobTitle" placeholder="Job Title">
    <span class="text-danger" *ngIf="empForm.get('jobTitle').hasError('required') && empForm.get('jobTitle').touched">
      Job Title is Required
    </span>
    <label for="empName" class="form-group row col-md-6">Employee Name:&nbsp; &nbsp; </label>
    <input type="text" class="col-md-4  form-control" formControlName="empName" placeholder="Employee Name">
    <span class="text-danger" *ngIf="empForm.get('empName').hasError('required') && empForm.get('empName').touched">
      Name is Required
    </span>
    <span class="text-danger" *ngIf="empForm.get('empName').hasError('minlength')">
      Min of 4 characters
    </span>
    <label for="department" class="form-group row col-md-6">Department:&nbsp; &nbsp; </label>
    <input type="text" class="col-md-4  form-control" formControlName="department" placeholder="Department">
    <span class="text-danger" *ngIf="empForm.get('department').hasError('required') && empForm.get('department').touched">
      Department is Required
    </span>
    <label for="phone" class="form-group row col-md-6">Phone Number:&nbsp; &nbsp; </label>
    <input type="text" class="col-md-4  form-control" formControlName="phone" placeholder="Phone Number">
    <span class="text-danger" *ngIf="empForm.get('phone').hasError('required') && empForm.get('phone').touched">
      Number is Required
    </span>
    <span class="text-danger" *ngIf="empForm.get('phone').hasError('minlength')">
      Invalid Phone Number
    </span>
    <label for="email" class="form-group row col-md-6">Email:&nbsp; &nbsp; </label>
    <input type="text" class="col-md-4  form-control" formControlName="email" placeholder="Email">
    <span class="text-danger" *ngIf="empForm.get('email').hasError('required') && empForm.get('email').touched">
      Email is Required
    </span>
    <span class="text-danger" *ngIf="empForm.get('email').hasError('pattern')">
      Invalid Email
    </span>
    <br>
    <div class="row btn-group ">
      <div *ngIf="isSubmit">
        <button type="submit" class="btn btn-success" (click)="addEmpForm(empForm)">Submit</button>
      </div>
      <div *ngIf="isUpdate">
        <button type="submit" class="btn btn-success" (click)="updateEmpForm(empForm)">Update</button>
      </div>
      <div>
        <button type="reset" class="btn btn-warning" (click)="resetEmpForm()">
          Reset</button>
      </div>
      <div *ngIf="isClose">
        <button type="submit" class="btn btn-success" (click)="closeEmpForm()">Close</button>
      </div>
    </div>
  </form>
</div>
