<br>
<div class="row table">
  <!-- <div class="wrapper"> -->
  <table class="table table-striped table-bordered justify-content-around ">
    <thead class="thead bg-dark text-white bold">
      <th>Emp ID</th>
      <th>Job Title</th>
      <th>Employee Name</th>
      <th>Depatment</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Options</th>
    </thead>
    <tbody class="tbody table-striped">
      <tr *ngFor="let emp of employees">
        <td class="bg-info ">
          <a class="btn text-white" routerLink="/{{emp.id}}">{{emp.empID}}</a>
        </td>
        <td>{{emp.jobTitle}}</td>
        <td>{{emp.empName}}</td>
        <td>{{emp.department}}</td>
        <td>{{emp.phone}}</td>
        <td>{{emp.email}}</td>
        <td class="btn btn-warning text-white" (click)="editEmp(emp)">Edit</td>
        <td class="btn btn-danger text-white" (click)="deleteEmp(emp.id)">Delete</td>
      </tr>
    </tbody>
  </table>
  <!-- </div> -->
</div>
